.game_board {
    margin-left: 30px;
}

h1 {
    margin-left: 200px;
}

.box {
    display: inline-block;
    width: 15%;
    height: 100px;
    position: relative;
    top: 5%;
    left: 30px;
    margin-left: 50px;
    margin-top: 15px;
    border: 2px solid;
    text-align: center;
}

.player_info > div {
    padding: 10px 0px;
}

.selected1 {
    background-color: orange
}

.selected2 {
    background-color: green
}

#game_start {
    text-align: center
}
