#start_game {
    position: relative;
    left: 200px;
    top: 350px;
    height:100px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 25px;
    color: black;
    background: repeating-linear-gradient(
    45deg,
    #FF9900,
    #FF9900 10px,
    #009933 10px,
    #009933 20px
  );
}
.game_board {
    margin-left: 70px;
}

h1 {
    position: relative;
    left: 225px;
    top:20px;
    font: 400 100px/1.0 'Just Another Hand', Helvetica, sans-serif;
    color: black;
}

.box {
    background-color: black;
    display: inline-block;
    width: 20%;
    height: 120px;
    position: relative;
    top: 5%;
    left: 40px;
    margin-left: 55px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 2px solid;
    text-align: center;
}

.player_info > div {
    padding: 10px 0px;
    
}
.player_info {
    margin-top: 10px;
}

.background {
    background-image: url('images/linedpaper.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;

}

.layer {
    background-color: rgb(245, 245, 245);
    position: absolute;
    background-size: 100%;
}

.selected1 {
    
    background-image: url('images/orangeo.png');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.selected2 {
    
    background-image: url('images/greenx.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

#game_start {
    text-align: center
}

#box_container {
    font: 200 50px/1.0 'Just Another Hand', Helvetica, sans-serif;
    color: black;
}

#player1 {
    color: orange;
    margin-top: 5px;
    padding: 5px;
}

#player2 {
    color: green;
    padding: 5px;
}

.border_1 {
    border: 4px solid;
}

.border_2 {
    border: 4px solid;
}

.modal-body {
    text-align: center;
    text-decoration: underline;
    line-height: 1.5em;
    position: relative;
    font-weight: bold;
}



.reset {
    position: relative;
    bottom: 7px;
}
