#gameheader{
	border: 1px solid black;
	height: 14vh;
}
#squarescontainer{
	
	height: 100vh;
	margin-top: 6vh;


}

#playerinfo{
	border: 1px solid black;
	height: 109vh;
	margin-top: 6vh;
}

.gamesquares{
	height: 33%;
	border: 1px solid black;
	margin-top: 5vh;
}

.top{
	margin-top: 0;
}